# Explore here

In [68]:
# Your code here

import pandas as pd
import seaborn as sns
from nltk import download
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import re

In [69]:
df = pd.read_csv("hf://datasets/PrkhrAwsti/Twitter_Sentiment_3M/twitter_dataset.csv")

In [70]:
download("wordnet")
lemmatizer = WordNetLemmatizer()

[nltk_data] Downloading package wordnet to /home/vscode/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [71]:
def procesarTexto(text,lemmatizer=lemmatizer):
        # Convertir a minúsculas
    text = text.lower()
    
    # Eliminar enlaces (URLs)
    text = re.sub(r'http\S+|www\S+|https\S+', '', text, flags=re.MULTILINE)
    
    # Eliminar menciones (ej. @usuario)
    text = re.sub(r'@\w+', '', text)
    
    # Eliminar puntuación
    text = re.sub(r'[^\w\s]', '', text)
    
    # Lematizar y eliminar espacios en blanco adicionales
    text = ' '.join(lemmatizer.lemmatize(word) for word in text.split()).strip()

    # Eliminar espacios en blanco múltiples
    text = re.sub(r'\s+', ' ', text)

    return text

In [72]:
df

,Unnamed: 0,tweet,sentiment
0,0,is upset that he can't update his Facebook by ...,0.0
1,1,@Kenichan I dived many times for the ball. Man...,0.0
2,2,my whole body feels itchy and like its on fire,0.0
3,3,"@nationwideclass no, it's not behaving at all....",0.0
4,4,@Kwesidei not the whole crew,0.0
...,...,...,...
3142398,3142398,"With ad revenues falling, what’s the impact on...",2.0
3142399,3142399,RT @KelvinSCWong: Well another point to add to...,2.0
3142400,3142400,$ITOX working on a contract with a fortune 500...,2.0
3142401,3142401,"$DIS it could break the 120 pin, then 125&gt; ...",2.0
3142402,3142402,Amedisys Inc $AMED COO Christopher Gerard Sell...,2.0

In [73]:
df.head()

   Unnamed: 0                                              tweet  sentiment
0           0  is upset that he can't update his Facebook by ...        0.0
1           1  @Kenichan I dived many times for the ball. Man...        0.0
2           2    my whole body feels itchy and like its on fire         0.0
3           3  @nationwideclass no, it's not behaving at all....        0.0
4           4                      @Kwesidei not the whole crew         0.0

In [74]:
df.tail()

,Unnamed: 0,tweet,sentiment
3142398,3142398,"With ad revenues falling, what’s the impact on...",2.0
3142399,3142399,RT @KelvinSCWong: Well another point to add to...,2.0
3142400,3142400,$ITOX working on a contract with a fortune 500...,2.0
3142401,3142401,"$DIS it could break the 120 pin, then 125&gt; ...",2.0
3142402,3142402,Amedisys Inc $AMED COO Christopher Gerard Sell...,2.0

In [75]:
df.drop(columns=["Unnamed: 0"],axis=1,inplace=True)

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142403 entries, 0 to 3142402
Data columns (total 2 columns):
 #   Column     Dtype
---  ------     -----
 0   tweet      object
 1   sentiment  float64
dtypes: float64(1), object(1)
memory usage: 47.9+ MB

In [77]:
df.describe().T

               count      mean       std  min  25%  50%  75%  max
sentiment  3142321.0  0.503761  0.506766  0.0  0.0  1.0  1.0  2.0

In [78]:
ds=df[df['sentiment']>1]
ds

                                                     tweet  sentiment
3123980  Top 3 all @Apple #tablets. Damn right! http://...        2.0
3123981  CNBCTV: #Apple's margins better than expected?...        2.0
3123987  RT @peterpham: Bought my @AugustSmartLock at t...        2.0
3124002  Latest Apple Products Leading in Efficiency ht...        2.0
3124007  RT @saxonidubom: @rwang0 @Apple Thanks...think...        2.0
...                                                    ...        ...
3142398  With ad revenues falling, what’s the impact on...        2.0
3142399  RT @KelvinSCWong: Well another point to add to...        2.0
3142400  $ITOX working on a contract with a fortune 500...        2.0
3142401  $DIS it could break the 120 pin, then 125&gt; ...        2.0
3142402  Amedisys Inc $AMED COO Christopher Gerard Sell...        2.0

[10725 rows x 2 columns]

In [79]:
df.isnull().sum()

tweet         0
sentiment    82
dtype: int64

In [80]:
df=df.dropna()
df

                                                     tweet  sentiment
0        is upset that he can't update his Facebook by ...        0.0
1        @Kenichan I dived many times for the ball. Man...        0.0
2          my whole body feels itchy and like its on fire         0.0
3        @nationwideclass no, it's not behaving at all....        0.0
4                            @Kwesidei not the whole crew         0.0
...                                                    ...        ...
3142398  With ad revenues falling, what’s the impact on...        2.0
3142399  RT @KelvinSCWong: Well another point to add to...        2.0
3142400  $ITOX working on a contract with a fortune 500...        2.0
3142401  $DIS it could break the 120 pin, then 125&gt; ...        2.0
3142402  Amedisys Inc $AMED COO Christopher Gerard Sell...        2.0

[3142321 rows x 2 columns]

In [81]:
df[df['tweet']==""]

Empty DataFrame
Columns: [tweet, sentiment]
Index: []

In [82]:
df=df[df["tweet"]!=""]
df

                                                     tweet  sentiment
0        is upset that he can't update his Facebook by ...        0.0
1        @Kenichan I dived many times for the ball. Man...        0.0
2          my whole body feels itchy and like its on fire         0.0
3        @nationwideclass no, it's not behaving at all....        0.0
4                            @Kwesidei not the whole crew         0.0
...                                                    ...        ...
3142398  With ad revenues falling, what’s the impact on...        2.0
3142399  RT @KelvinSCWong: Well another point to add to...        2.0
3142400  $ITOX working on a contract with a fortune 500...        2.0
3142401  $DIS it could break the 120 pin, then 125&gt; ...        2.0
3142402  Amedisys Inc $AMED COO Christopher Gerard Sell...        2.0

[3142321 rows x 2 columns]

In [83]:
df=df[df["sentiment"]!=2]
df

                                                     tweet  sentiment
0        is upset that he can't update his Facebook by ...        0.0
1        @Kenichan I dived many times for the ball. Man...        0.0
2          my whole body feels itchy and like its on fire         0.0
3        @nationwideclass no, it's not behaving at all....        0.0
4                            @Kwesidei not the whole crew         0.0
...                                                    ...        ...
3138695  Q3 2020 EPS Estimates for Ball Co. $BLL Increa...        1.0
3138698  #stocks back from the recovery room: https://t...        1.0
3138699  RT @MacroCharts: Breadth – expanding last week...        1.0
3138701  $AAPL $QQQ Top may now be in. https://t.co/iNK...        1.0
3138702  GLG Partners LP short position in HILTON FOOD ...        0.0

[3131596 rows x 2 columns]

In [84]:
df.describe().T

               count      mean       std  min  25%  50%  75%  max
sentiment  3131596.0  0.498637  0.499998  0.0  0.0  0.0  1.0  1.0

In [85]:
df['proTweets']=df['tweet'].apply(procesarTexto)
df

/tmp/ipykernel_20620/1800759237.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['proTweets']=df['tweet'].apply(procesarTexto)

,tweet,sentiment,proTweets
0,is upset that he can't update his Facebook by ...,0.0,is upset that he cant update his facebook by t...
1,@Kenichan I dived many times for the ball. Man...,0.0,i dived many time for the ball managed to save...
2,my whole body feels itchy and like its on fire,0.0,my whole body feel itchy and like it on fire
3,"@nationwideclass no, it's not behaving at all....",0.0,no it not behaving at all im mad why am i here...
4,@Kwesidei not the whole crew,0.0,not the whole crew
...,...,...,...
3138695,Q3 2020 EPS Estimates for Ball Co. $BLL Increa...,1.0,q3 2020 eps estimate for ball co bll increased...
3138698,#stocks back from the recovery room: https://t...,1.0,stock back from the recovery room fair value 5...
3138699,RT @MacroCharts: Breadth – expanding last week...,1.0,rt breadth expanding last week discussion more...
3138701,$AAPL $QQQ Top may now be in. https://t.co/iNK...,1.0,aapl qqq top may now be in
3138702,GLG Partners LP short position in HILTON FOOD ...,0.0,glg partner lp short position in hilton food g...

: